<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Выбор страны и города</title>
</head>
<body>
<h1>Выбор страны и города</h1>
<form th:action="@{/select-location}" method="get">
    <label for="country">Страна:</label>
    <select name="countryId" id="country" onchange="this.form.submit()">
        <option th:each="country : ${countries}" th:value="${country.id}" th:text="${country.name}"></option>
    </select>

    <label for="city">Город:</label>
    <select name="cityId" id="city">
        <option th:each="city : ${cities}" th:value="${city.id}" th:text="${city.name}"></option>
    </select>

    <button type="submit">Найти</button>
</form>
</body>
</html>
